<h1>{{if isRecording "Recording" "Not Recording"}}</h1>

{{#unless camAccess}}
  <h1>We can't access your webcam :(</h1>
{{/unless}}

<div id="hdfvr-content"></div>

<!-- <object type="application/x-shockwave-flash" data="/assets/flash.swf"  width="100%" height="400px"> -->
<!--   <param name="quality" value="high"> -->
<!--   <param name="bgcolor" value="#ffffff"> -->
<!--   <param name="wmode" value="transparent"> -->
<!--   <param name="allowscriptaccess" value="always"> -->
<!--   <param name="allowfullscreen" value="true"> -->
<!--   <param name="flashvars" value="width=450&amp;height=300"> -->
<!-- </object> -->

<!-- <object type="application/x-shockwave-flash" id="flashplayer" name="flashplayer" align="middle" data="./camera/Flashms.swf" width="100%" height="400px"> -->
<!--   <param name="quality" value="high"> -->
<!--   <param name="bgcolor" value="#ffffff"> -->
<!--   <param name="wmode" value="transparent"> -->
<!--   <param name="allowscriptaccess" value="always"> -->
<!--   <param name="allowfullscreen" value="true"> -->
<!--   <param name="flashvars" value="width=450&amp;height=300"> -->
<!-- </object> -->
